* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f4f5f6;
  line-height: 24px;
}

p {
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 18px;
}

.info {
  background-color: #f72210;
}

.header {
  z-index: 100;
}

.fixed--nav {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
  background: #f72210 !important;
}

.clouds {
  width: 24px;
  height: 24px;
}

.weather {
  font-size: 14px;
}

.logo {
  height: 30px;
}

.newsweek-logo {
  width: 145px;
  height: 62px;
  margin-right: 15px;
  margin-bottom: 12px;
}

.btn-subs {
  background-color: #ffe400;
  outline: none;
  height: 28px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

.hamburger {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 1px #f72210;
  margin: 0;
  overflow: visible;
  outline: none;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger:focus {
  outline: none;
}

.hamburger-inner {
  display: block;
  top: 20%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 22px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before {
  top: -5px;
}

.hamburger-inner::after {
  bottom: -5px;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 21px;
  height: 8px;
  display: inline-block;
  position: relative;
}

.division-line {
  position: absolute;
  height: 2px;
  background: #f4f5f6;
  width: 100%;
  top: 100px;
}

.navbar-side .nav-link {
  font-size: 19px;
  color: #000;
  font-weight: bold;
}

.navbar-side .nav-item {
  position: relative;
}

.navbar-side .nav-item:hover {
  background-color: #000;
}

.navbar-side .nav-item:hover > .nav-link {
  color: #fff;
}

.navbar-side .nav-item:hover > .nav-item::before {
  background: #f72210;
  width: 10px;
  height: 10px;
}

.nav-bottom .nav-link:hover {
  color: #f72210 !important;
}

.card {
  border-style: none;
}

.section-name {
  color: rgba(3, 3, 3, 0.4);
}

.card-img {
  border-radius: 0;
}

.image-holder {
  position: relative;
}

.category {
  display: inline-block;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.89);
  position: absolute;
  bottom: 0;
  left: 0;
}

.card-title,
.debate-theme {
  color: #000;
  cursor: pointer;
}

.card-title:hover,
.debate-theme:hover {
  -webkit-text-decoration: underline #f72210;
          text-decoration: underline #f72210;
}

.debate-d-line {
  height: 4px;
  background: #d9d9d9;
  width: 100%;
}

.debater-img {
  width: 63px;
  height: 63px;
}

.vs {
  z-index: 4;
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font-size: 14px;
}

.vs-line {
  position: relative;
  background-color: #d9d9d9;
  height: 1px;
  width: 100%;
  top: 18px;
}

.vs-line::before {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 2px);
  z-index: 1;
  width: 100%;
}

.more-story img {
  width: 95px;
  height: 95px;
}

.topic img,
.topic h3,
.travel-img-title {
  cursor: pointer;
}

.travel-img-title {
  left: 0;
  bottom: 0;
  background: #c2d4d7;
}

.form .btn,
.big-n {
  background-color: #f72210;
}

.features-see {
  cursor: pointer;
}

.features-see:hover {
  background: #dbdcdd;
}

.red-color {
  color: #f72210;
}

.focus-t {
  bottom: 0;
  left: 0;
  background: #f72210;
}

.secondary-item-title {
  color: #f72210;
}

.current-cover {
  margin-left: -6rem;
}

.text-abs {
  top: 190px;
  color: #000;
  font-size: 16px;
}

.subs-benef p {
  font-size: 1.05rem;
}

.subs-benef > :first-child {
  margin-bottom: 4px;
  margin-top: 4px;
}

.subs-btn {
  background: #f72210;
}

.previous-current {
  background-color: #f4f5f6;
}

.newsletter-bg {
  height: 170px;
  background: #333 url(../images/newsletter-bg.png);
  background-size: cover;
}

.logo-footer {
  width: 15rem;
  height: 4rem;
}

.social-footer .facebook:hover {
  color: #3b5998 !important;
}

.footer-links > *:not(:last-child) {
  margin-right: 20px;
}

.social-footer .twitter:hover {
  color: #1da1f2 !important;
}

.bg-red {
  background-color: red;
}

.social-footer .instagram:hover {
  color: #405de6 !important;
}

.social-footer .tumblr:hover {
  color: #3592d5 !important;
}

.social-footer .linkedin:hover {
  color: #0077b5 !important;
}

@media (min-width: 320px) {
  .tablet {
    display: none;
  }
}

@media (min-width: 768px) {
  .newsweek-logo {
    width: 230px;
    height: 175px;
  }
  .navbar-side {
    width: 95%;
    position: absolute;
    top: 56px;
    -webkit-clip-path: polygon(0% 0%, 99% 0, 100% 44%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 99% 0, 100% 44%, 100% 100%, 0% 100%);
    background-color: #fff;
    left: 0;
  }
  .navbar-side .nav-item:hover {
    background-color: transparent;
  }
  .navbar-side .nav-item:hover > .nav-link {
    color: #f72210;
  }
  .navbar-side .nav-item:not(:first-of-type)::before {
    content: '';
    position: absolute;
    top: 11px;
    height: 18px;
    width: 1px;
    background-color: #d9d9d9;
  }
  .newsletter-element {
    height: 267px;
  }
  .text-abs {
    top: 68px;
    font-size: 17px;
    width: 39% !important;
    text-align: left;
  }
}

@media (min-width: 1240px) {
  body {
    overflow-x: hidden;
    width: 1300px;
  }
  .previous-current {
    width: 680px;
  }
  .text-abs {
    top: 49px;
    font-size: 19px;
    width: 47% !important;
    text-align: left !important;
  }
  .newsletter-bg {
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */